body {background-color: #880000}
h2 {font-family: Verdana;
font-weight: bold;
text-align: center;
color: white}
p {font-family: Calibri;
  text-align: center;
  color: white}
ul {font-family: Calibri;
    text-align:left;
    color: white
    }
nav {font-family: Calibri;
      color: gray}
header {font-family: Calibri;
        color: white;
        font-size: 44;
        text-align: center}
